.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	color: $clr-secondary;
	background-color: $clr-accent;
}

.btn p {
	font-size: 2.4rem;
	padding-right: 1.6rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.btn img {
	width: 2rem;
	height: 2rem;
}

.contact-button {
	width: 18rem;
	border-radius: .4rem;
}