.btn {
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 0 0 0.4rem 0.4rem;
	color: $clr-secondary;
	background-color: $clr-accent;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.btn {
		font-size: 1.8rem;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.btn {
		font-size: 2rem;
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.btn {
		font-size: 2.2rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.btn {
		font-size: 2.4rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.btn img {
	width: 1.2rem;
	height: 1.2rem;
	margin-left: 0.8rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.btn img {
		width: 1.4rem;
		height: 1.4rem;
		margin-left: 1rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.btn img {
		width: 1.6rem;
		height: 1.6rem;
		margin-left: 1.2rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.btn img {
		width: 1.8rem;
		height: 1.8rem;
		margin-left: 1.4rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.btn img {
		width: 2rem;
		height: 2rem;
		margin-left: 1.6rem;
	}
}

.contact-button {
	width: 100%;
	border-radius: 0.4rem;
}

@media screen and (min-width: 48em) {
	/* 768px */
	.contact-button {
		width: 18rem;
	}
}

.page-button-list {
	display: flex;
	column-gap: 2rem;
	margin-bottom: 4rem;
}

.page-button-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-btn {
	background-color: $clr-secondary;
	color: $clr-accent;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.75;
	font-weight: $fw-medium;
	border: 1px solid $clr-accent;
	border-radius: 5px;
	width: 2.4rem;
	height: 2.4rem;
	transition: 0.3s;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.page-btn {
		font-size: 1.6rem;
		width: 3rem;
		height: 3rem;
	}
}

.page-btn:hover,
.page-btn:focus {
	background-color: $clr-accent;
	color: $clr-secondary;
	text-decoration: none;
}
