.card {
	border-radius: 0.4rem;
	box-shadow: 0 0 4.8rem $clr-shadow;
	transition-property: outline;
	transition-duration: 0.2s;
	max-width: 40.4rem;
}

.card:hover,
.card:focus-within {
	outline: .4rem solid $clr-accent;
	outline-offset: -.4rem;
}
