body {
	color: $clr-primary;
	font-family: $ff-body;
	font-weight: $fw-body;
}

h2, .h2-like {
	text-align: center;
}

p {
	font-size: 2rem;
	line-height: 1.5;
}

a {
	color: $clr-secondary;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}