body {
	font-family: $ff-body;
	font-weight: $fw-body;
	color: $clr-primary;
	background-color: #fff;
}

h1,
.h1-like {
	font-family: $ff-title;
	font-size: 2rem;
	line-height: 1;
}

@media screen and (min-width: 36em) {
	/* 576px */
	h1,
	.h1-like {
		font-size: 2.4rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	h1,
	.h1-like {
		font-size: 3rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	h1,
	.h1-like {
		font-size: 3.6rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	h1,
	.h1-like {
		font-size: 4.8rem;
	}
}

h1,
h2,
.h1-like,
.h2-like {
	text-align: center;
}

h3,
.h3-like {
	font-family: $ff-title;
	font-weight: $fw-semi;
	font-size: 1.6rem;
	line-height: 1;
	text-align: left;
}

@media screen and (min-width: 36em) {
	/* 576px */
	h3,
	.h3-like {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	h3,
	.h3-like {
		font-size: 2rem;
		line-height: 1.2;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	h3,
	.h3-like {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	h3,
	.h3-like {
		font-size: 2.4rem;
		line-height: 1.5;
	}
}

p {
	font-size: 1.4rem;
	line-height: 1.2;
}

@media screen and (min-width: 48em) {
	/* 768px */
	p {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	p {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	p {
		font-size: 2rem;
		line-height: 1.5;
	}
}

a {
	color: $clr-secondary;
	text-decoration: none;
	font-size: 2.4rem;
}

a:hover,
a:focus {
	text-decoration: underline;
}

label,
[placeholder] {
	font-size: 1.2rem;
	line-height: 1;
}

@media screen and (min-width: 36em) {
	/* 576px */
	label,
	[placeholder] {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	label,
	[placeholder] {
		font-size: 1.6rem;
		line-height: 1.2;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	label,
	[placeholder] {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	label,
	[placeholder] {
		font-size: 2rem;
		line-height: 1.5;
	}
}

[placeholder] {
	font-style: italic;
	color: $clr-placeholder;
}
