.contact-title {
	margin-bottom: 6rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.contact-title {
		margin-bottom: 8rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.contact-title {
		margin-bottom: 10rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.contact-title {
		margin-bottom: 12rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.contact-title {
		margin-bottom: 14rem;
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input,
label,
textarea {
	width: 100%;
	display: block;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	outline: 0.4rem solid $clr-accent;
	outline-offset: 0.4rem;
}

label,
[placeholder] {
	padding-bottom: 1rem;
}

input,
textarea {
	border: 0;
	border-bottom: 1px solid $clr-border;
}

textarea {
	resize: none;
}

textarea:hover,
textarea:focus {
	resize: vertical;
}

.field-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4.5rem 3.2rem;
	margin-bottom: 2rem;
}

@media screen and (min-width: 48em) {
	/* 768px */
	.field-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.field-item:last-child {
		grid-column: 1 / span 2;
	}
}

.contact-button {
	align-self: flex-end;
	margin-bottom: 4rem;
	transition: 0.3s;
}

.contact-button:hover,
.contact-button:focus {
	transform: scale(1.05);
	text-decoration: underline;
}

.send-contact img {
	width: 5rem;
	padding-bottom: 4rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.send-contact img {
		width: 6rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.send-contact img {
		width: 7rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.send-contact img {
		width: 8rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.send-contact img {
		width: 10rem;
	}
}
