.contact-title {
	margin-bottom: 14rem;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

input,
label,
textarea {
	display: block;
	width: 100%;
}

label,
[placeholder] {
	padding-bottom: 1rem;
}

input,
textarea {
	border: 0;
	border-bottom: 1px solid $clr-border;
}

textarea {
	resize: none;
}

textarea:hover,
textarea:focus {
	resize: vertical;
}

.field-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4.5rem 3.2rem;
	margin-bottom: 2rem;
}

.field-item:last-child {
	grid-column: 1 / span 2;
}

.contact-button {
	align-self: end;
	margin-bottom: 4rem;
}

.contact-button p {
	margin-bottom: 0;
}

.send-contact img{
	width: 10rem;
	padding-bottom: 4rem;
}