.hero {
	width: 100%;
	background-image: url("../img/accueil_background.webp");
	object-fit: cover;
	display: flex;
	justify-content: center;
}

.hero .container {
	display: flex;
	align-items: flex-end;
}

.cta-card {
	background-color: $clr-transparent;
	margin-top: 12rem;
	margin-bottom: 1rem;
	padding: 2.5rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta-card {
		margin-bottom: 3rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.cta-card {
		margin-bottom: 6rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.cta-card {
		margin-top: 18rem;
		margin-bottom: 9rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.cta-card {
		margin-top: 24rem;
		margin-bottom: 12rem;
	}
}

.cta-title {
	font-family: $ff-title;
	font-weight: $fw-bold;
	font-size: 2rem;
	line-height: 1.2;
	text-align: left;
	color: $clr-secondary;
	padding-bottom: 1.8rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta-title {
		font-size: 2.6rem;
		padding-bottom: 2rem;
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.cta-title {
		font-size: 3.6rem;
		padding-bottom: 2.2rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.cta-title {
		font-size: 5.4rem;
		padding-bottom: 2.4rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.cta-title {
		font-size: 7.2rem;
		padding-bottom: 2.5rem;
	}
}

.cta-list {
	display: flex;
	justify-content: flex-end;
}

.cta-link {
	font-size: 1.6rem;
	font-weight: $fw-semi;
	padding: 0.75rem 1rem;
	border: 0.1rem solid $clr-border;
}

@media screen and (min-width: 48em) {
	/* 768px */
	.cta-link {
		font-size: 2rem;
		padding: 1rem 1.5rem;
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.cta-link {
		font-size: 3rem;
		padding: 1.5rem 2.25rem;
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.cta-link {
		font-size: 4rem;
		padding: 2rem 3rem;
	}
}

/* News */
.news-list {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 90vw;
	margin-bottom: 4rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.news-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 48em) {
	/* 768px */
	.news-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.news-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 75em) {
	/* 1200px */
	.news-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 3.2rem;
	}
}

.news-content {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

.news-image {
	margin-bottom: 2.4rem;
}

.news-date {
	display: flex;
	align-items: center;
}

.calendar {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 1rem;
}

.news-title {
	padding-bottom: 1.6rem;
}

.news-desc {
	margin-bottom: 2.4rem;
}

/* Students */
.students {
	width: 100%;
	background-color: $clr-accent;
	display: flex;
	justify-content: center;
}

.student-title,
.student-name {
	color: $clr-secondary;
}

.student-list {
	display: grid;
	gap: 3.2rem;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 4.2rem;
}

.student-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.student-name {
	font-weight: $fw-semi;
	font-size: 2.4rem;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.student-avatar {
	margin-bottom: 2rem;
}

.student-link {
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Formation */
.formation-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3.2rem;
	margin-bottom: 4rem;
}

.formation-image {
	margin-bottom: 4rem;
}

.formation-content {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

.formation-title {
	margin-bottom: 4rem;
}
