.news-detail-section .container-narrow {
	display: flex;
	flex-direction: column;
}

.news-detail-image {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.news-detail-title {
	margin-bottom: 4rem;
}

.news-detail-date {
	margin-bottom: 4rem;
	display: flex;
	justify-content: center;
	
}