.student-page-title {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

/*	
Je voulais utiliser ":has" pour l'effet ":hover".
D'après MDN ça doit faire comme une sorte de ":focus-within".
Malheureusement ":has" n'est pas implémenté (caniuse 0%).
*/
.student-page-link:hover,
.student-item:focus-within {
	outline: 0.1rem solid $clr-accent;
	outline-offset: 0.4rem;
}

.student-page-name {
	font-size: 2.4rem;
	font-weight: $fw-semi;
	margin-bottom: 2rem;
}

.student-page-link {
	color: $clr-accent;
	font-size: 1.6rem;
	text-decoration: underline;
}

.student-detail-main {
	display: flex;
	flex-direction: column;
}

.student-detail-image {
	width: 90vw;
	height: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.student-detail-image {
		width: fit-content;
	}
}

.student-detail-name {
	margin-bottom: 4rem;
}

.student-detail-list {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 3.6rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.student-detail-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 62em) {
	/* 992px */
	.student-detail-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 36em) {
	/* 576px */
	.student-detail-item:last-child {
		grid-column: 1/-1;
	}
}

.student-detail-item-title {
	margin-top: 0;
	margin-bottom: 2rem;
}
