.student-page-title {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

/*	
Je voulais utiliser ":has" pour l'effet ":hover".
D'après MDN ça doit faire comme une sorte de ":focus-within".
Malheureusement ":has" n'est pas implémenté (caniuse 0%).
*/
.student-page-link:hover,
.student-item:focus-within {
	outline: 0.1rem solid $clr-accent;
	outline-offset: 0.4rem;
}

.student-page-name {
	font-size: 2.4rem;
	font-weight: $fw-semi;
	margin-bottom: 2rem;
}

.student-page-link {
	color: $clr-accent;
	font-size: 1.6rem;
	text-decoration: underline;
}
