/* Couleurs */
$clr-primary: #331100;
$clr-secondary: #FFF;
$clr-accent: #FD7E37;
$clr-date: #663014;
$clr-placeholder: #33110080;
$clr-border: #707070;
$clr-transparent :#00000080;
$clr-shadow: #00000029;

/* Fonts */
$ff-body: 'Montserrat', sans-serif;
$ff-title: 'Raleway', sans-serif;

/* Graisses */
$fw-body: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;