.container {
	width: 127.6rem;
}

.container-narrow {
	width: 105.6rem;
}

.container-narrower {
	width: 84rem;
}

// Example de responsive

// @media screen and (min-width: 36em) {
// 	/* 576px */
// 	.container {
// 		max-width: 53.6rem;
// 	}
// }

// @media screen and (min-width: 48em) {
// 	/* 768px */
// 	.container {
// 		max-width: 72.8rem;
// 	}
// }

// @media screen and (min-width: 62em) {
// 	/* 992px */
// 	.container {
// 		max-width: 95.2rem;
// 	}
// }

// @media screen and (min-width: 75em) {
// 	/* 1200px */
// 	.container {
// 		max-width: 116rem;
// 	}
// }