header,
main,
footer {
	display: flex;
	justify-content: center;
}

main {
	flex-direction: column;
	align-items: center;
}

h2,
.h2-like {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

p {
	margin-bottom: 4rem;
}

.hero,
.news .container,
.news-page .container,
.students,
.students-page .container,
.student-detail-section .container,
.formation .container,
.formation-page .container,
.send-contact .container {
	width: 100%;
}

.formation-page .container,
.students-page .container,
.student-detail-section .container,
.news-page .container,
.send-contact .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
